*{
    margin: 0;
    overflow-x:none ;
   
}
a{
    text-decoration: none;
}
.navigationA a{
    position: relative;
    font-size: 1.1em;
    color: #fafafa;
    font-weight: 300;
    text-decoration: none;
    margin-left: 20px;
    padding: 6px 15px;
    transition: .5s;
}
.navigationA a:hover,  .navigatiion a.active{
    color: #333;
}
.navigationA1
{
    background-color: #CDA309;
    align-items: flex-start;
    padding: 15px;
    line-height: 30px;
}
.paymentButton{
    background-color: #F9E4D4;
    border-radius: 8px;
    position: absolute;
    display: inline-flex;
    right: 0;
    
}

.paymentButton:hover{
    background-color: #ffffff;
    


}

.dropdown{
    position: relative;
    cursor: pointer;
    display:flex;
    gap: 6px;
    z-index: 99999;
    
    
    
}
.dropdown > a{
    display: flex;
    align-items: center;
    gap: 100px;
    height: 72px;
    text-decoration: none;
    font-size: 12px;
    font-family: Roboto;
    font-weight: 40px;
    z-index: 99999;
    color: #CDA309;
} 
.dropdown > a:hover{
    color: #CDA309;
    z-index: 99999;
} 
.dropdown:hover .menu{
    opacity: 1;
    visibility: visible;
    
    z-index: 99999;
}


.menu > a {
    font-size: 15px;
    padding: 12px 50px;
    text-decoration: none;
    z-index: 9999999;
    
}
.menu > a:hover{
    background:#F9E4D4;
    color: #ca6b0c;
}
.menu{
    position:absolute;
    top: 60px;
    display: grid;
    width: 250px;
    padding: 8px 0;
    padding-bottom: 40px;
    background:  #ffffff;
    border: 1px solid #e1e1e1;
    opacity: 0;
    visibility: hidden;
    transition: 0.25s;
    border-top-color:#F9E4D4 ;
    font-size: 14px;
    z-index: 9999999;
   
    
    
}
.navigationB{
    display:inline-flex;
    gap: 25px;
    padding: 20px;
    padding-top: 5px;
    position: absolute;
    right: 0;
    
}
.navB{
    display: flex;
    gap: 40px;
    padding: 20px;
    background-color: #F9E4D4;
  }

  @media(max-width:1244px)
  {
      
      .textcontainer{
          padding: 10px 0;
          text-align: center;
  
     
  }
}
  
.vision{
    display: block;
    position: relative;

}

.carousel {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    height: px;
    fill: solid rgba(115, 115, 115, 0.5 );
    padding: 0;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 827px;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-item img {
    display: block;
    height: auto;
    max-width: 100%;
}

.carousel-control {
   
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px; 
    z-index: 10;
}
.carousel img{
    height: 827px;
    width: 100%;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3,
#carousel-3:checked ~ .control-4{
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #428bca;
}

#title {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}




.part4{
    font-size: 24px;
    padding: 90px;
    text-align: center;
    color: #562B3C;
    position: relative;
    text-decoration: none;
}
.part4 hr{
    width: 40%;
    position: relative;
    left:30%;
    height: 3.5px;
    background-color: #562B3C;
    border: 0;
    top:15px;
    

}


.card{
    max-width: 394px;
    height: 360px;
    border-radius: 10px;
    box-shadow: 3px 5px 5px rgba(1,1,1,0.2);
    transition: 0.2s ease-in-out;
    background-color: #F9E4D4;
}
.gridcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardcontainer{
    padding: 20px;
}
.cardcontainer h3{
    margin-bottom: 9px;

}
.card:hover{
    transform: scale(1.04);
    box-shadow:5px 3px 5px 5px rgba(1, 1, 1, 0.3);
    transition: 0.2s ease-in-out;
    }

@media(max-width:976px)
{
    
    .textcontainer{
        padding: 10px 0;
        text-align: center;

    }
    .bottom{
       
        flex-direction: column;
    }
    h1{

        font-size: 32px;
    }
    .contact h2, .about h2{
        font-size: 32px;
    }

}






.work{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(320px,1fr)) ;
    gap: 20px;
    max-width: 1100px;
    margin: 50px auto;
    
}
.card{
    max-width: 320px;
    height: 350px;
    border-radius: 10px;
    box-shadow: 3px 5px 5px rgba(1,1,1,0.2);
    transition: 0.2s ease-in-out;
}
.gridcontainer{
    display: flex;
    justify-content: center;
    align-items: center; }
.cardcontainer{
    padding: 20px;
}
.gridcontainer p{
    color: black;
    line-height: 40px;
}
.card h3{
    text-align: center;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    color:#562B3C;


}
.card:hover{
    transform: scale(1.04);
    box-shadow: 3px 5px 5px rgba(1, 1, 1, 0.3);
    transition: 0.2s ease-in-out;
    }
.work img{
    max-width: 320px;
    height: 196px;
 }
.gridcontainer a{
        font-size: 1.1em;
        color:#000000;
        background-color:white ;
        border-radius: 10px;
        font-weight: 400;
        text-decoration: none;
        margin-left: 20px;
        display: grid;
        transition: .5s;
        justify-content: center;
        align-items: center;
        text-align: center;
         }



         .my-button {
            background-color: #562B3C;
            color: #F9E4D4;
            border: 2px solid #F9E4D4;
            padding: 1px 20px; 
            font-size: 16px; 
            font-weight: bold; 
            position: relative;
            left: 100px;
            top: 14px;
            height: 35px;
            width: 140px;
          }
          .my-button:hover{
            color:#F9E4D4;
            background-color: #3D414C;
            ;
          }

          
.small{
    display: none;
}

@media(max-width:1200px)
{
    
    .textcontainer{
        padding: 10px 0;
        text-align: center;

   
}
.small{
   display: block;
    padding: 20px;
    position: absolute;
    right: 0;



    
}
.navigationB{
    display: none;
}

}
 .dropdown1 {
        overflow: hidden;
}    
 
      .dropdown1 {
        top: 0;
        left: 0;
        height: 100%;
        list-style-type: none;
        margin: 0;
        padding: 0;
        background: #f7f7f7;
        z-index:10;  
        overflow:hidden;
        box-shadow: 2px 0 18px rgba(0, 0, 0, 0.26);
        }
      
     
      .navbar a:hover, .dropdown:hover .dropbtn {
        background-color: rgb(255, 255, 255);
        
      }
      .dropdown1 button:hover{
        opacity: 0;
      }
     
      .dropdown-content {
        display: none;
        z-index: 100;
        position: relative;
        background-color: #f9f9f9;
        width: 100%;
        left: 0;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      
      }
      
      
      .dropdown-content {
        background: rgb(255, 255, 255);
        padding: 16px;
        color: white;
      }
      
  
      .dropdown1:hover .dropdown-content {
        display: block;
      }
      
      
   

      
      .column a:hover {
        background-color: #ddd;
      }
      
    
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
      

.infrastructure , .vision{
    display: gri;
    position: relative;
} 
      .container{

        background-color: #333;
        height:200px;
        width:100%;
        border:2px solid ;
        display:flex;
        position: relative;
         justify-content: flex-start;
        }
        .imagecontainer{
            height: 198px;
            width: 349px;
           position: relative;
           left:13px;
            border-radius: 0px;

        }
    .box{
        box-sizing: border-box;
        font-weight: bolder;
        text-align: center; 
    }
    .box {
        padding: 20px;
        font-family: Arial, Helvetica, sans-serif;
        color:white;
    
    }
    .box img {
        padding: 10px;
    }
    .box button{
        background-color: #F9E4D4;
            color: #562B3C;
            border: 2px solid #F9E4D4;
            padding: 1px 20px; 
            font-size: 16px; 
            font-weight: bold; 
            height: 35px;
            width: 200px;
            border-radius: 0;
    }
        
        #box1{
          background-color:#562B3C;
          height: 250px;
          width: 33.33%;
    
          
          
        }
        #box2{
        
            background-color: #562B3C;
         height: 250px;width: 33.33%;
              
            }
        #box3{
        
                background-color: #562B3C;
             height: 250px;width: 33.33%;
                  
                }
        
    
    .container button{
        border-radius: 20px;
        border-color:#e1e1e1 ;
    }
    
    
    @media(max-width:900px){
        .container{
            display: block;
            position: relative;
        }
        #box1{
            width: 100%;
        }
        #box2{
            width: 100%;
        }
        #box3{
            width: 100%;
        }
         

    }



  .infrastructure{
    padding: 40px;
    padding-top: 140px;
    background-color: #F9E4D4;
    color: #562B3C;
    position: relative;
    top: 45px;

  }
  .infrastructure h3{
   font-size: 24px;
   font-weight: 700;
  }
  .infrastructure hr{
    width: 93px;
    background-color: #562B3C;
    height: 1.8px;
    
    position: relative;
    top: 5px;
  }

.infra-grid{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
    gap: 20px;
    max-width: 2000px;
    margin: 50px auto;
    
}
.infra-grid img{
    max-width: 320px;
    height: 196px;
 }
 .infrastructure .card{
    width: 370px;
    height: 360px;
    border-radius: 0;
    box-shadow: 3px 5px 5px rgba(1,1,1,0.2);
    transition: 0.2s ease-in-out;
    background-color: #562B3C;
 }
 .infrastructure .card .imagecontainer{
    height: 303px;
    width: 220px;
    border-radius: 0px;
}
 .infrastructure img{
    height: 120px;
    width: 256px;
    padding: 20px;
    border-radius: 10px;
 }
 .infrastructure .card h3{
    color:#F9E4D4;
    position: relative;
    bottom: 150px;
 }
 .infrastructure .card h4{
    color:#F9E4D4;
    position: relative;
    bottom: 160px;
    padding: 14px;
    font-size: 20px;
 }
 
